<%= form_tag 'item_update' do %>
 <%= hidden_field_tag "item_id", @item.id %>

 <h1>Edit Item</h1>
	<label>Name:</label><%= text_field_tag "name", @item.name %><br>
	<br>
	<%= submit_tag 'Update Item' %>
<%end%>	
